.td2 {
	font-size:20px;
	width:10%;
	height:50px;
	color:white;
}

.td3 {
	font-size:20px;
	width:5%;
	height:50px;
	color:white;
}

.desc {
	font-size:20px;
	width:40%;
	height:50px;
	color:white;
}

#middle {
	margin:auto;
	opacity:0.6;
	width:90%;
	margin-top:5%;
	color:white;
}

#copy {
	  color:white;
	  text-align:right;
	  font-family:monospace;
}
